* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    color: var(--secondary);
}
:root {
    --primary: rgb(252, 252, 252);
    --secondary: rgb(34, 9, 18);
}
body {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
.sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-right: 1px solid rgb(200, 200, 200);
    background-color: rgb(248, 248, 248);
    padding-top: 30px;
}
.logo {
    font-size: 30px;
}
nav {
    display: flex;
    flex-direction: column;
}
nav button {
    border: none;
    background: none;
    font-size: 24px;
    display: flex;
    color: rgba(34, 9, 18, 0.411);
}
nav button:active {
    color: var(--primary); 
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 35px;
    gap: 10px;
    justify-content: end;
}
.photo {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    /* max-height: 200px; */
}
.photo.solo {
    max-height: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
a img {
    width: 32px;
    filter: invert(0.7);
}
@media (max-width: 700px){
    .sidebar {
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid rgb(200, 200, 200);
        border-right: none;
    }
    .sidebar .logo {
        display: none;
    }
    .sidebar nav {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content {
        padding-top: 20px;
    }
}