* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Allison", cursive, sans-serif ;
    color: var(--secondary);
    /* border: var(--border); */
}
:root {
    --primary: rgb(28, 28, 29);
    --secondary: rgb(206, 140, 164);
    --border: 1px dashed rgba(255, 255, 255, 0.72);
}
body {
    background-color: var(--primary);
}
header {
    /* border-bottom: 1px solid var(--secondary);
    display: grid;
    grid-template-rows: 140px 100px;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid var(--secondary);
    position: relative;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('assets/flowers.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.16; /* Adjust this to control transparency */
  z-index: -1; /* Put it behind the content */
}
header .logo{
    display: flex;
    gap: 10px;
    justify-content: center;
}
header .logo .title {
    font-weight: 400;
    font-size: 9vw;
}
header nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}
header nav button {
    border: none;
    background: none;
    font-size: 40px;
}
header nav button:active {
    color: var(--primary); 
}